:root, 
.dark {
  /* Базовые цвета */
  --color-background: #ffffff;
  --color-text: #000000;
  --color-border: #e5e7eb;
  
  /* Primary colors */
  --color-primary: #06b6d4;
  --color-primary-hover: #0891b2;
}
  
.dark {
  --color-background: #0f172a;
  --color-text: #ffffff;
  --color-border: #334155;
  --color-primary-hover: #67e8f9;
}